/* COMMON */
body {
  font-family: "Roboto", sans-serif;
}

/* HEADER */
header {
  height: 70px;
}

header nav {
  height: 100%;
}

header .logo-small {
  width: 30px;
}

.fa-bell {
  color: #ff8f00;
}

/* MAIN */
main {
  height: calc(100vh - 70px);
}

/* nav laterale */
ul .hover-menu:hover {
  background-color: rgb(164, 164, 164);
}

main > nav {
  color: white;
  width: 70px;
  height: 100%;
  background-image: url(../img/sidebar-bg.png);
  background-position: center;
  background-size: cover;
  background-color: #051e34;
}

@media screen and (min-width: 992px) {
  main > nav {
    width: 150px;
  }
}

/* dashboard */
.dashboard {
  width: 100%;
  overflow: auto;
}

/* top dashboard */
.top .badge {
  background-color: #165bba;
}

.top .offcanvas.offcanvas-end {
  width: 100%;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: white;
}

@media screen and (min-width: 768px) {
  .top .offcanvas.offcanvas-end {
    width: calc(var(--bs-offcanvas-width) + 200px);
  }
}

/* bottom dashboard */
table img {
  width: 30px;
}
