/* COMMON */
body {
  font-family: "Roboto", sans-serif;
}

/* HEADER */
header {
  height: 70px;
}

header nav {
  height: 100%;
}

header nav a:first-child {
  width: 30px;
}

.fa-bell {
  color: #ff8f00;
}
