/* COMMON */
body {
  font-family: "Roboto", sans-serif;
}

/* HEADER */
header {
  height: 70px;
}

header nav {
  height: 100%;
}

header nav a:first-child {
  width: 30px;
}

.fa-bell {
  color: #ff8f00;
}

/* MAIN */
main {
  height: calc(100vh - 70px);
}

main > nav {
  color: white;
  width: 70px;
  height: 100%;
  background-image: url(../img/sidebar-bg.png);
  background-position: center;
  background-size: cover;
  background-color: #051e34;
}

@media screen and (min-width: 992px) {
  main > nav {
    width: 150px;
  }
}

/* dashboard */
.dashboard {
  width: 100%;
  overflow: auto;
}

.top .badge {
  background-color: #165bba;
}

.top .offcanvas.offcanvas-end {
  width: calc(var(--bs-offcanvas-width) + 200px);
}

table img {
  width: 30px;
}

.bottom .img-stats {
  max-height: 400px;
}

.bottom .img-stats img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
